body{
    display: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    /*asi se puede escribir un comentario */
    
}
.contenedor{
    width: 90%;
    background-color: lightblue;
    border: 1px 1px 0 1px solid #292f80;
    margin: 0 auto;
}
nav{
    border-bottom: 0px;
}
#contenido{
    border-top: 0px;
    height: 350px;
}
h2{
    margin: 0px;
}
#menu-principal{
    display: center;
}

i{
    float: left;
}
#principal{
    border: 1px solid #292f80;
    background-color: #72c07e;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    font-size: 50px;
    
}
.menu{
   display: inline-block;
   text-align: center;
   width: 140px; 
   border: 1px solid black; 
   margin: 5px 10px 5px 10px;
   padding: 5px;
   font-size: 16px; 
   text-decoration: none;
   background-color: #72c07e;
}
a{
    color: black;
    text-decoration: currentColor;
    text-decoration: underline;

}
.redes{
    display: inline-block;
    text-align: center;
    width: 140px; 
    border: 1px solid rgb(9, 9, 9); 
    margin: 10px 0,5px 10px 0,5px;
    padding: 5px;
    font-size: 15px; 
    text-decoration: none;
    background-color: #b9e953;
 }
article{
    margin: 10px;
    background-color: #72c07e;
    float: left;
}
#textoarticulo{
    width: 58%;
}

#imagenarticulo{
    width: 38%;
}
#imagenarticulo section>img{
    width: 50%;
}
footer{
    height: 150px;
    background-color: black;
}
#formulariocontacto{
    margin: 0 auto;
    width: 50%;
    float: none;

}
.intexto{
    width: 80%;
    height: 30px;
    font-size: 1.3rem;
    border: solid 0.8px black;
}
.control{
    width: 80%;
    margin: 15px;
    display: flex;
}
label{
    width: 100px;
}
.buttomform{
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 1.1rem;
    border: solid 3px black;
    border-radius: 5px;
}
.video{
    font-size: 20px;
}
table