body{
    font-family: Arial, Helvetica, sans-serif;
}

#menu-principal{
    display: inline-block;
}

i{
    float: left;
}
.menu{
   display: inline-block;
   text-align: center;
   width: 140px; 
   border: 1px solid black; 
   margin: 5px 10px 5px 10px;
   padding: 5px;
   font-size: 16px; 
   text-decoration: none;
   background-color: #72c07e;
}

a{
    color:black;
    text-decoration: none;
}