body{
    display: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}
#menu-principal{
    display: center;
}

i{
    float: left;
}
.menu{
   display: inline-block;
   text-align: center;
   width: 140px; 
   border: 1px solid black; 
   margin: 5px 10px 5px 10px;
   padding: 5px;
   font-size: 16px; 
   text-decoration: none;
   background-color: #72c07e;
}
a{
    color: black;
    text-decoration: currentColor;
    text-decoration: underline;

}
.redes{
    display: inline-block;
    text-align: center;
    width: 140px; 
    border: 1px solid rgb(9, 9, 9); 
    margin: 10px 0,5px 10px 0,5px;
    padding: 5px;
    font-size: 15px; 
    text-decoration: none;
    background-color: #b9e953;
 }


